<%= render 'errors', target: @url %>

<div id='new-form-wrapper'>
  <div id='new-url-form'>
    <%= form_for @url do |form| %>
      <div class='form-item'>
        <%= form.text_field :original_url,
          size: 70,
          placeholder: 'Please enter your long url.' %>
        <%= form.check_box :blurred %>
        <%= form.label :blurred, 'inebreviated' %>
      </div>
      <div class='button-panel'>
        <%= form.submit 'shorten', class: 'button' %>
      </div>
    <% end %>
  </div>

  <div id='deletion-disclaimer'>
  </div>
</div>
