<div id='show-url-page'>
  <div id='original-url'>
    Original: <span class='url'><%= @url.original_url %></span>
  </div>
  <div id='short-url'>
    Shortened:
    <a class='url' href='<%= redirect_url(@url.token) %>'>
      <%= redirect_url(@url.token) %>
    </a>
    <a href='#' data-clipboard-text='<%= redirect_url(@url.token) %>' id='clip-button'>
      <%= image_tag('copyicon.png') %><span id='copied-status'></span>
    </a>
  </div>
</div>
<script>
  $(document).ready(function() {
    ZeroClipboard.config({
      moviePath: '<%= asset_path('ZeroClipboard.swf') %>',
      forceHandCursor: true,
      debug: true
    });
    var client = new ZeroClipboard($('#clip-button'));
    client.on( 'copy', function ( event ) {
      $('#copied-status').text('Copied!');
    } );
  });
</script>
