<!DOCTYPE html>
<html>
<head>
  <title>jk.pe shortener</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.js" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18540444-8', 'jpk.io');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div id='wrapper'>
    <div id='site-title'>
      <%= link_to 'jk.pe', root_path %>
    </div>
    <div id='site-subtitle'>
      a simple url shortener.
    </div>
    <%= yield %>
    <div id='bookmarklet'>
      Drag this link to your bookmarks bar for a quick way to create short URLs:
      <a href=
        "javascript:location.href='http://jk.pe/shorten/create?url[original_url]='
        +encodeURIComponent(location.href)
        +'&title='+encodeURIComponent(document.title)">
        shortener
      </a>
    </div>
  </div>
  <div id='about-bar'>
    This tool was created by <a href='http://justinkenyon.com'>Justin Kenyon</a>
    using Ruby on Rails, jQuery, and SASS. The code is open source and
    available on <a href='http://github.com/kenyonj/shortenit/'>GitHub</a>.
    This tool has shortened <%= url_count %> URLs.
  </div>
</body>
</html>
