<!DOCTYPE html>
<html>
<head>
  <title>jpk.io shortener</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id='wrapper'>
    <div id='site-title'>
      <%= link_to 'jpk.io', root_path %>
    </div>
    <div id='site-subtitle'>
      a simple url shortener.
    </div>
    <%= yield %>
    <div id='bookmarklet'>
      Drag this link to your bookmarks bar for a quick way to create short URLs:
      <a href=
        "javascript:location.href='http://jpk.io/shorten/create?url[original_url]='
        +encodeURIComponent(location.href)
        +'&title='+encodeURIComponent(document.title)">
        shortener
      </a>
    </div>
  </div>
  <div id='about-bar'>
    This tool was created by <a href='http://justinkenyon.com'>Justin Kenyon</a>
    using Ruby on Rails, jQuery, and SASS. The code is open source and
    available on <a href='http://github.com/kenyonj/shortenit/'>Github</a>.
    This tool has shortened <%= url_count %> URLs.
  </div>
</body>
</html>
